<header class="bg-primary border-b-amber-900">
    <nav class="py-2 px-4">
      <ul class="flex flex-row gap-4 items-center">
        <li class="hover:bg-secondary p-2"><a href="#">Home</a></li>
        <li class="hover:bg-secondary p-2"><a href="#">My Books</a></li>
        <li class="hover:bg-secondary p-2"><a href="#">Browse</a></li>
        
        <li class="menu-item flex-grow">
            <form action="#" method="GET" class="flex items-center justify-center">
                <input type="text" name="search" class="p-2 roungded-sm" placeholder="Search books" />
                <button class="bg-secondary text-primary p-2 rounded-sm ml-2" type="submit">Search</button>
            </form>
        </li>
        <li class="menu-item ml-auto hover:bg-secondary p-2"><a href="#">Login</a></li>
        <li class="menu-item hover:bg-secondary p-2"><a href="#">Register</a></li>
    </ul>
    
    </nav>
</header>

